#Mainimg {
  margin-top: 5%;
  margin-left: 30%;
}

#Nav_menu ul {
  padding-left:0px;
  float: right;
  padding-right: 70px;

}

#Nav_menu ul li {
  font-size: 15px;
  display:inline;
  padding: 0px 10px 0px 10px;
  margin: 5px 0px 5px 30px;
}



.dropbtn {
    background-color: #F361A6;
    color: white;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    border: none;
    width: 140px;

}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 3px 10px 3px 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;

}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FFA9EE;
}

footer  {

  text-align: center;
  font-size: 9pt;
  color: #555555;
  font-family: "Ebrima"

}

footer ul{
  float: left;
  list-style-type: none;
}

/* 로그인 폼 */

#login_ul ul {
    list-style-type: none;
}

.loginForm {
    position: relative;
    width: 435px;

}
 .loginForm .box {
     width: 326px
 }
 .loginForm .box .iText{
     width:300px;
     margin:3px 0;
     padding:10px 12px;
     border:1px solid #e1e1e1
 }
 .loginForm .box p{
     margin-top:1em
 }
 .loginForm .box p span,
 .loginForm .box p input{
     height:18px;
     font-size:11px;
     color:#737373;
     line-height:18px;
     vertical-align:middle;
 }
 .loginForm .loginBtn {
    display:block;
    position:absolute;
    top:0;
    right:0;
    width:80px;
    height:60px;
    padding:10px;
    border-radius:5px;
    font-size:14px;
    font-weight:700;
    color:#fff;
    line-height:60px;
    text-align:center;
    background:#333;
 }

 .btn {
     background: #F361A6;
 }

 /* 회원가입 페이지 */
 ul{
     list-style:none; /* dot 삭제*/
 }
 label{
     width:100px; /*label 간격조절*/
     display:inline-block;
 }

 #div1 {
   width: 500px;
   height: 200px;
   overflow: auto;
   border: 1px solid black;
   padding: 10px;
}

#div2 {
  align-self: center;

}

#div2 label{
  width: 200px;
}

 /* 쇼핑페이지 */
 #shopimg {
   margin-left: 12%;
   margin-right: 12%;

 }

 #shopimg ul {
   list-style-type: none;
   float: left;
 }
